langchain 
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
google-generativeai
streamlit 
faiss-cpu
sentence-transformers==4.0.1
huggingface_hub==0.30.1
transformers==4.50.3
langchain_community==0.3.20
-e .
